---
const projects = [
	{
		title: "Aprende-Test",
		description: "Aplicación para generar examenes de primaria y ESO",
		link: "#"
	},
	{
		title: "Portfolio",
		description: "Portfolio xChappi",
		link: "#"
	}
];
---

<section id="projects" class="content-section">
	<h2 class="section-title">Proyectos</h2>
	<ul class="project-list">
		{projects.map(project => (
			<li class="project-item">
				<h3>{project.title}</h3>
				<p>{project.description}</p>
				<a href={project.link} class="project-link">Ver Proyectos</a>
			</li>
		))}
	</ul>
</section>

<style>
	.project-list {
		list-style-type: none;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 20px;
	}
	.project-item {
		background-color: var(--secondary-bg);
		padding: 15px;
		border: 1px solid var(--accent-color);
	}
	.project-item h3 {
		font-size: 0.9em;
		color: var(--accent-color);
		margin-bottom: 10px;
	}
	.project-item p {
		font-size: 0.7em;
		margin: 5px 0;
	}
	.project-link {
		font-size: 0.7em;
		color: var(--text-color);
		text-decoration: none;
		display: inline-block;
		margin-top: 10px;
		padding: 5px 10px;
		border: 1px solid var(--accent-color);
	}
	.project-link:hover {
		background-color: var(--accent-color);
		color: var(--main-bg);
	}
</style>